.blinkTitle {
  animation-name: blinking;
  animation-duration: 4.6s;
  animation-delay: 1s;
  animation-fill-mode: forwards;

@keyframes blinking {
  0% {opacity: .4;}
  2% {opacity: 1;}
  10% {opacity: .2;}
  11% {opacity: 1;}
  12% {opacity: .2;}
  13% {opacity: 1;}
  14% {opacity: .2;}
  15% {opacity: 1;}
  16% {opacity: .2;}
  17% {opacity: .2;}
  18% {opacity: 1;}
  to {opacity: 1;}
}
}